<div class="container">
	<div class="header-links text-center">
		<%= link_to "My friends", user_path(:id => current_user.id)%>
		<%=link_to "Log out", destroy_user_session_path, :method => :delete %>
	</div>
	<h2>List of users that you can add!</h2>
	<div id="users">
	<% for user in @users %>
	  <div class="user">
	  	<%if user!=current_user && !current_user.friendships.exists?('id'=>user.id) %>
	  	<%f = Friendship.find_by(:friend_id => user.id)%>
		    <div class="row">
		    	<div class="col-lg-1"></div>
		      <div class="col-lg-5"><strong><%=h user.email %></strong></div>
		      <div class="col-lg-5">
		      <%if current_user.friends.include?(user)%>
		      	Friends already
		      <%elsif  current_user.requested_friendships.include?(f)%>
		      	Requested 
		      <%elsif current_user.pending_friendships.include?(f)%>
		      	Sent you a friend request
		      <%else%>
		      	<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
		      <%end%>
		     </div>
		    </div>
		      <div class="clear"></div>
		    </p>
		  <%end%>
	  </div>
	<% end %>
	</div>
</div>