<div class="container">
	<div class="header-links text-center">
		<%= link_to "Home",root_path%>
		<%= link_to "Create circle",new_circle_path%>
	</div>
	<p>User: <%=h @user.email %></p>
	<h2>Friends</h2>
	<ul>
	  <% for friendship in @user.friendships %>
	    <li>
	      <%=h friendship.friend.email %>
	      (<%= link_to "Remove Friend", friendship, :method => :delete %>)
	      (<%= link_to "Add to circle", add_circle_path(:id => friendship.id) %>)
	    </li>
	  <% end %>
	</ul>
	<h2> Invitations</h2>
	<% @invitations.each do |invitation|%>
		Friend request from id : <%=link_to invitation.id,accept_friend_path(:friendship => invitation.id)%>
	<%end%>
</div>