<h2>List of users</h2>
<div id="users">
<% for user in @users %>
  <div class="user">
  	<%if user!=current_user && !current_user.friends.exists?('id'=>user.id) %>
	    <p>
	      <strong><%=h user.email %></strong>
	      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
	      <div class="clear"></div>
	    </p>
	  <%end%>
  </div>
<% end %>
</div>