.container
{
	width: 600px;
	margin-top: 100px;
	margin-left: 100px;
}
.user
{
	margin-top: 20px;
}
h2
{
	margin-left: 20px;
}
.header-links
{
	margin-top: 20px;
}
.header-links a
{
	font-size: 18px;
	text-decoration: none;
	padding: 20px;
	color: black;
}