<h2>Click on any of the circles to add in them</h2>
<%@circles.each do |circle|%>
	<%if !circle.friendships.exists?(@friendship)%>
		<%=link_to circle.name,create_circle_path(:friendship => @friendship.id,:circle => circle.id)%><br>
	<%end%>
<%end%>