<div class="container">
	<%=link_to "Go back",users_path(:id=>current_user.id)%><br>
	<%= form_for @new_circle do |f|%>
		<%=f.text_field :name, :class=> 'form-control', :placeholder => 'Circle Name'%><br>
		<%=f.submit "Add",:class=>'btn btn-primary'%>
	<%end%>
	<br>
	<h2>List of circles</h2>
	<ol>
		<%@circles.each do |circle|%>
			<li><b><%=link_to circle.name,circle_path(:id=>circle.id)%></b>
			<%=link_to "Remove circle",circle_path(:id=>circle.id),:method => "delete"%></li><br>
		<%end%>
	</ol>
</div>
