<div class="container">
	<%=link_to "Go Back",new_circle_path%>
	<h2>Friends in <%=@circle.name%></h2>
	<%@circle.friendships.each do |friend|%>
	<%=User.find(friend.friend_id).email%>
	<%end%>
</div>